/* cache file /mnt/YouZhan/youzhannew-eyunshe/caches/868/csscache/868_345143_1_.cache exists */
/*md5:9423b6117c039d3438621de7ba1dd5b9*/
.ModuleGridContainer[gridswidthmode="2"]{max-width:1200px;width:auto;}
.BodyLeftZone{display:none;}
.BodyRightZone{display:none;}
.BodyMain2Zone{display:none;}
.BodyMain3Zone{display:none;}
.BodyMain4Zone{display:none;}
.ModuleGridGiant.layout-101 .ModuleGridItem {
    padding: 0
}

.ModuleGridGiant.layout-101 .row {
    margin-right: 0px;
    margin-left: 0px;
}

.ModuleGridGiant.layout-101 .ModuleGridCol {
    padding: 0px;
}

.ModuleGridGiant.layout-101 .ModuleGridItem {
    padding: 0px;
}

.ModuleGridGiant.layout-101 .ModuleGridItem {
    min-height: 5px;
}

.ModuleGridGiant.layout-101 .ModuleGridContainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}
.ModuleGridGiant.layout-101{height: 100%;}
.ModuleGridGiant.layout-101 .ModuleSubContainer{position: relative;}
.ModuleGridGiant.layout-101 .gridBgVideo{position: absolute;top: 0;left: 0;width:100%;z-index: -1;}
.ModuleGridGiant.layout-101 .gridBgVideo .bgVideoMask{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgb(0,0,0);}
.ModuleGridGiant.layout-101 .gridBgVideo .bgVideo{width: 100%; height: 100%; object-fit: cover; object-position: center center;}
.ModuleGridGiant.layout-101 .gridBgVideo.noBgVideo{display: none;}.module_8153655 .ModuleHead .HeadCenter{float:none;}
#module_8153655 {
padding:0px;
}
#module_8153655 {
position:static;
z-index:999;
top:0px;
left:0px;
width:100%;
height: auto;
}
#module_8153655 .ModuleHead8153655 {
display:none;
}
#module_8153655 .ModuleHead .HeadText.HeadText8153655 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8153655 .ModuleHead .HeadCenter.HeadCenter8153655{text-align:left;}
#module_8153655 .ModuleHead .HeadCenter.HeadCenter8153655 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8153655 .BodyCenter.BodyCenter8153655 {
background:none;background-color:rgb(255, 255, 255);
}
#module_8153655 >.module_8153655 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:rgb(242, 242, 242);
border-bottom-width:1px;
}
#module_8153655 >.module_8153655{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8153655 .BodyCenter.BodyCenter8153655 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8153655 .BodyCenter.BodyCenter8153655 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8153655 >.module_8153655 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8153655 >.module_8153655 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8153655 .ModuleSubContainer{background-color:transparent;}
#module_8153655 .ModuleSubContainer{background-image:none;}
#module_8153655 .ModuleSubContainer{background-repeat:no-repeat;}
#module_8153655 .ModuleSubContainer{background-position:0% 0%;}
#module_8153655 .ModuleSubContainer{background-attachment:scroll;}
#module_8153655 {!bgVideo!}{bgVideoUrl:}
#module_8153655 .gridBgVideo .bgVideoMask{opacity:1}
.ModuleGridContainer.ModuleGridContainer8153655 {}
.ModuleImageGiant.layout-101 .BodyCenter{
	text-align:center;
}
.ModuleImageGiant.layout-101 img{
	margin: auto;
    max-width: 100%;
	border: none;
}

.module_8153656 .ModuleHead .HeadCenter{float:none;}
#module_8153656 {
padding:0px;
}
#module_8153656 {
position:static;
z-index:0;
width:100%;
height: auto;
}
#module_8153656 .ModuleHead8153656 {
display:none;
}
#module_8153656 .ModuleHead .HeadText.HeadText8153656 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8153656 .ModuleHead .HeadCenter.HeadCenter8153656{text-align:left;}
#module_8153656 .ModuleHead .HeadCenter.HeadCenter8153656 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8153656 .BodyCenter.BodyCenter8153656 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8153656 >.module_8153656 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8153656 >.module_8153656{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8153656 .BodyCenter.BodyCenter8153656 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8153656 .BodyCenter.BodyCenter8153656 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8153656 >.module_8153656 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8153656 >.module_8153656 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8153656 img{border-top-color:transparent;}
#module_8153656 img{border-top-style:none;}
#module_8153656 img{border-top-width:0px;}
#module_8153656 img{border-right-color:transparent;}
#module_8153656 img{border-right-style:none;}
#module_8153656 img{border-right-width:0px;}
#module_8153656 img{border-bottom-color:transparent;}
#module_8153656 img{border-bottom-style:none;}
#module_8153656 img{border-bottom-width:0px;}
#module_8153656 img{border-left-color:transparent;}
#module_8153656 img{border-left-style:none;}
#module_8153656 img{border-left-width:0px;}
#module_8153656 img{border-top-left-radius:0px;}
#module_8153656 img{border-top-right-radius:0px;}
#module_8153656 img{border-bottom-left-radius:0px;}
#module_8153656 img{border-bottom-right-radius:0px;}

.ModuleNavGiant.layout-103 .main-nav-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s; 
  -o-transition: all 0.3s;
  box-sizing: border-box;
  -moz-box-sizing:border-box; 
 -webkit-box-sizing:border-box; 
  line-height: 0;
  overflow:hidden;
}
.ModuleNavGiant.layout-103 .aroundMune{
   position: absolute;
   display: flex;
   align-items: center;
   right: 0px;
   padding:0 10px;
   height: 100%;
   z-index: 5;
   transform: rotateY(90deg);
}
.ModuleNavGiant.layout-103 .aroundMune.active{
  transform: rotateY(0deg);
}
.ModuleNavGiant.layout-103 .moveMenuRight, .ModuleNavGiant.layout-103 .moveMenuLeft{
   display: inline-block;
   width: 36px;
   height: 36px;
   line-height: 36px;
   font-size: 16px;
   color:#666;
   text-align: center;
   border:1px solid rgba(0,0,0,.1);
   border-radius: 5px;
   cursor: pointer;
}
.ModuleNavGiant.layout-103 .main-nav-content .moveMenuRight{
  background-color: rgba(238,238,238,.6);
}
.ModuleNavGiant.layout-103 .main-nav-content .moveMenuLeft{
   display:none;
   background-color: rgba(238,238,238,.6);
   margin-right: 10px
}
.ModuleNavGiant.layout-103 .moveMenuRight:hover, .ModuleNavGiant.layout-103 .moveMenuLeft:hover{
   color:#fff;
   background-color:rgba(204,204,204,.6);
}
.ModuleNavGiant.layout-103 .main-nav-content >.blank-solve{
  width: auto;
  display: inline-block;
  transition: all .4s;
  position: relative;
  left: 0;
}
.ModuleNavGiant.layout-103 .navBorderTop {
  position: absolute;
  width: auto;
  height: 80px;
  left: 0px;
  bottom:initial;
  background-color: #1e88e5;
  display:none;
}
.ModuleNavGiant.layout-103 .main-nav-item-group {
  box-sizing: border-box;
  -moz-box-sizing:border-box; 
 -webkit-box-sizing:border-box;
  width: auto;
  text-align: center;
  float: left;
}
.ModuleNavGiant.layout-103 .main-nav-item {
  box-sizing: content-box;
  width: auto;
  height:80px;
  line-height:80px;
  color: #000000;
  display: inline-block;
  position: relative;
  transition:all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s; 
  -o-transition: all 0.5s;
}
.ModuleNavGiant.layout-103 .main-nav-item span{
	display:block;
	width:100%;
	height:100%;
	position:relative;
  box-sizing: border-box;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box;
}
.ModuleNavGiant.layout-103 .sub-nav-item-group {
  z-index: 3;
  width: 192px;
  height: auto;
  line-height: 40px;
  text-align: center;
  border-top: 2px solid #333;
  display: none;
}
.ModuleNavGiant.layout-103 .sub-nav-item {
  display: block;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s; 
  -o-transition: all 0.5s;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  padding-left: 0;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.ModuleNavGiant.layout-103 .sub-nav-item:last-child{
  border-bottom: none!important;
}
.ModuleNavGiant.layout-103 .sub-nav-item:hover {
  padding-left: 10px;
  background-color: #f7f7f7;
}
.ModuleNavGiant.layout-103 .main-nav-item-hover span{
  color: #fff;
  top: -7px;
   -webkit-animation: layout-103-nav-active 0.5s;
  -moz-animation: layout-103-nav-active 0.5s;
  -o-animation: layout-103-nav-active 0.5s;
  animation: layout-103-nav-active 0.5s;
}

.ModuleNavGiant.layout-103 .main-nav-item-hover::after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  -webkit-animation: layout-103-nav-active2 0.5s;
  -moz-animation: layout-103-nav-active2 0.5s;
  -o-animation: layout-103-nav-active2 0.5s;
  animation: layout-103-nav-active2 0.5s;
  bottom: 25%;
}
@keyframes layout-103-nav-active {
  from {
    top: 0px;
  }
  to {
    top: -7px;
  }
}
@-webkit-keyframes layout-103-nav-active
 { 
  from {
    top: 0px;
  }
  to {
    top: -7px;
  }
 } 
 
  
 @-moz-keyframes layout-103-nav-active
 { 
   from {
     top: 0px;
   }
   to {
    top: -7px;
   }
 }
 @-o-keyframes layout-103-nav-active
 { 
   from {
     top: 0px;
   }
   to {
    top: -7px;
   }
 }  
@keyframes layout-103-nav-active2 {
  from {
    bottom: 20%;
  }
  to {
    bottom: 25%;
  }
}
@-webkit-keyframes layout-103-nav-active2
 { 
  from {
    bottom: 20%;
  }
  to {
    bottom: 25%;
  }
 } 
 
  
 @-moz-keyframes layout-103-nav-active2
 { 
  from {
    bottom: 20%;
  }
  to {
    bottom: 25%;
  }
 }
 @-o-keyframes layout-103-nav-active2
 { 
  from {
    bottom: 20%;
  }
  to {
    bottom: 25%;
  }
 }  
.ModuleNavGiant.layout-103 .clearfix:after{content:'.';clear: both;display:block;width:0;height:0;overflow: hidden;visibility: hidden;}.module_8153657 .ModuleHead .HeadCenter{float:none;}
#module_8153657 {
padding:0px;
}
#module_8153657 {
position:static;
z-index:0;
width:100%;
height: auto;
}
#module_8153657 .ModuleHead8153657 {
display:none;
}
#module_8153657 .ModuleHead .HeadText.HeadText8153657 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8153657 .ModuleHead .HeadCenter.HeadCenter8153657{text-align:left;}
#module_8153657 .ModuleHead .HeadCenter.HeadCenter8153657 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8153657 .BodyCenter.BodyCenter8153657 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8153657 >.module_8153657 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8153657 >.module_8153657{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8153657 .BodyCenter.BodyCenter8153657 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8153657 .BodyCenter.BodyCenter8153657 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8153657 >.module_8153657 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8153657 >.module_8153657 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8153657 .main-nav-item-group{height:80px;}#module_8153657 .main-nav-item{height:80px;line-height:80px}#module_8153657 .navBorderTop{height:80px;}#module_8153657 .main-nav-content{height:80px}
#module_8153657 .main-nav-content{background-color:rgba(0,0,0,0);}
#module_8153657 .main-nav-content{background-image:none;}
#module_8153657 .main-nav-content{background-repeat:no-repeat;}
#module_8153657 .main-nav-content{}
#module_8153657 .main-nav-content{}
#module_8153657 .main-nav-content{text-align:center;}
#module_8153657 .main-nav-item span{font-size:14px;}
#module_8153657 .main-nav-item span{font-family:微软雅黑,Microsoft YaHei;}
#module_8153657 .main-nav-item span{color:rgb(38, 38, 38);}
#module_8153657 .main-nav-item span{font-weight:normal;}
#module_8153657 .main-nav-item span{text-decoration:none;}
#module_8153657 .main-nav-item span{font-style:normal;}
#module_8153657 .main-nav-item{background-color:transparent;}
#module_8153657 .main-nav-item{}
#module_8153657 .main-nav-item{background-repeat:no-repeat;}
#module_8153657 .main-nav-item{}
#module_8153657 .main-nav-item{}
#module_8153657 .main-nav-item span{width:auto;}
#module_8153657 .main-nav-item span{padding-left:29px;padding-right:29px;}
#module_8153657 .sub-nav-item-group{border-top-color:#333;}
#module_8153657 .sub-nav-item-group{border-top-style:solid;}
#module_8153657 .sub-nav-item-group{border-top-width:2px;}
#module_8153657 .sub-nav-item-group{border-right-color:transparent;}
#module_8153657 .sub-nav-item-group{border-right-style:none;}
#module_8153657 .sub-nav-item-group{border-right-width:0px;}
#module_8153657 .sub-nav-item-group{border-bottom-color:transparent;}
#module_8153657 .sub-nav-item-group{border-bottom-style:none;}
#module_8153657 .sub-nav-item-group{border-bottom-width:0px;}
#module_8153657 .sub-nav-item-group{border-left-color:transparent;}
#module_8153657 .sub-nav-item-group{border-left-style:none;}
#module_8153657 .sub-nav-item-group{border-left-width:0px;}
#module_8153657 .sub-nav-item-group{width:192px;}
#module_8153657 .sub-nav-item{height:40px;line-height:40px}
#module_8153657 .sub-nav-item{font-size:12px;}
#module_8153657 .sub-nav-item{font-family:微软雅黑,Microsoft YaHei;}
#module_8153657 .sub-nav-item{color:#000;}
#module_8153657 .sub-nav-item{font-weight:normal;}
#module_8153657 .sub-nav-item{text-decoration:none;}
#module_8153657 .sub-nav-item{font-style:normal;}
#module_8153657 .sub-nav-item{background-color:#fff;}
#module_8153657 .sub-nav-item{background-image:none;}
#module_8153657 .sub-nav-item{background-repeat:no-repeat;}
#module_8153657 .sub-nav-item{}
#module_8153657 .sub-nav-item{}
#module_8153657 .sub-nav-item{border-bottom-color:#e6e6e6;}
#module_8153657 .sub-nav-item{border-bottom-style:solid;}
#module_8153657 .sub-nav-item{border-bottom-width:1px;}
#module_8153657 .sub-nav-item{margin-top:px;}
#module_8153657 .main-nav-item-hover span{font-size:14px;}
#module_8153657 .main-nav-item-hover span{font-family:微软雅黑,Microsoft YaHei;}
#module_8153657 .main-nav-item-hover span{color:rgb(255, 255, 255);}#module_8153657 .main-nav-item-hover::after{background-color:rgb(255, 255, 255);}
#module_8153657 .main-nav-item-hover span{font-weight:normal;}
#module_8153657 .main-nav-item-hover span{text-decoration:none;}
#module_8153657 .main-nav-item-hover span{font-style:normal;}
#module_8153657 .navBorderTop{background-color:rgb(16, 170, 156);}
#module_8153657 .navBorderTop{background-image:none;}
#module_8153657 .navBorderTop{background-repeat:no-repeat;}
#module_8153657 .navBorderTop{}
#module_8153657 .navBorderTop{}
#module_8153657 .sub-nav-item:hover{font-size:12px;}
#module_8153657 .sub-nav-item:hover{font-family:微软雅黑,Microsoft YaHei;}
#module_8153657 .sub-nav-item:hover{color:#000;}
#module_8153657 .sub-nav-item:hover{font-weight:normal;}
#module_8153657 .sub-nav-item:hover{text-decoration:none;}
#module_8153657 .sub-nav-item:hover{font-style:normal;}
#module_8153657 .sub-nav-item:hover{background-color:#f2f2f2;}
#module_8153657 .sub-nav-item:hover{background-image:none;}
#module_8153657 .sub-nav-item:hover{background-repeat:no-repeat;}
#module_8153657 .sub-nav-item:hover{}
#module_8153657 .sub-nav-item:hover{}


/*轮播图样式*/

/*切换按钮样式*/
.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-container{ position: relative;}
.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next,.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev{ position: absolute; width: 81px; height: 82px; background: rgba(0,0,0,0.2);top:50%;z-index: 9999;
    transform : translate(0,-50%);
    -webkit-transform:translate(0,-50%);    /* for Chrome || Safari */
    -moz-transform: translate(0,-50%);       /* for Firefox */
    -ms-transform:translate(0,-50%);       /* for IE */
    -o-transform: translate(0,-50%);        /* for Opera */
    transition: all .3s
}
.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next:hover,.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev:hover{background: rgba(0,0,0,0.4);}
.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next{left: 0; cursor: pointer;}
.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev{right: 0;cursor: pointer;}
.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next:before{ content: ""; position: absolute;
    top:50%; left: 50%; width: 17px; height:30px; background: #fff;
    transform : translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);    /* for Chrome || Safari */
    -moz-transform: translate(-50%,-50%);       /* for Firefox */
    -ms-transform:translate(-50%,-50%);       /* for IE */
    -o-transform: translate(-50%,-50%);
    background: url("../images/pres.png") no-repeat center;
    background-size: 100%;
}


.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev:before{ content: ""; position: absolute;
    top:50%; left: 50%; width: 17px; height:30px; background: #fff;
    transform : translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);    /* for Chrome || Safari */
    -moz-transform: translate(-50%,-50%);       /* for Firefox */
    -ms-transform:translate(-50%,-50%);       /* for IE */
    -o-transform: translate(-50%,-50%);
    background: url("../images/nexts.png") no-repeat center;
    background-size: 100%;
}
/*.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev:after{ content: ""; position: absolute;*/
    /*top:44%; right: 40%; width: 2px; height:20px; background: #fff;*/
    /*-webkit-transform: rotate(-135deg);   !* for Chrome || Safari *!*/
    /*-moz-transform:  rotate(-135deg);       !* for Firefox *!*/
    /*-ms-transform:   rotate(-135deg);        !* for IE *!*/
    /*-o-transform:   rotate(-135deg);       !* for Opera *!*/
    /*transform: rotate(-135deg);*/
/*}*/
.ModuleSlideGiant.layout-104 .slidegiant-container .slideshow-1 .swiper-pagination .swiper-pagination-bullet{width: 16px;  height: 16px; border-radius: 8px;border: 0;  background: rgba(0, 0, 0, 0); position: relative; opacity: 1;}
.ModuleSlideGiant.layout-104 .slidegiant-container .slideshow-1 .swiper-pagination .swiper-pagination-bullet:before{ content: ""; width: 8px; height: 8px; background: #fff; border-radius: 50%; position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);   /* for Chrome || Safari */
    -moz-transform: translate(-50%,-50%);       /* for Firefox */
    -ms-transform:  translate(-50%,-50%);        /* for IE */
    -o-transform:  translate(-50%,-50%);
}
.ModuleSlideGiant.layout-104 .slidegiant-container .slideshow-1 .swiper-pagination .swiper-pagination-bullet-active{background: rgba(0, 0, 0, 0.21); }
/*.forie .swiper-container {height: 600px;}*/
.forie .swiper-pagination {  position: absolute;  left: 0;  text-align: center;  bottom:5px;  width: 100%;  }
.forie .swiper-pagination-switch{display: inline-block;width: 16px;  height: 16px; border-radius: 8px;border: 0;  background: rgba(0, 0, 0, 0); position: relative; opacity: 1; margin: 0 5px;}
.forie .swiper-pagination-switch:before{ content: ""; width: 8px; height: 8px; background: #fff; border-radius: 50%; position: absolute; top: 50%; left: 50%;    transform: translate(-50%,-50%);webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%);  -ms-transform: translate(-50%,-50%);  -o-transform: translate(-50%,-50%);}
.forie .swiper-active-switch{background: rgba(0, 0, 0, 0.21); }
@media only screen and (max-width: 767px) {
    .ModuleSlideGiant .SubContainer {display: none;}
    .ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next,.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev{display: none}
}
/* @media only screen and (max-width: 480px) {
    .ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next,.swiper-slideshow-1-prev{display: none}
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next,.swiper-slideshow-1-prev{display: none}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next{display: none}
    .ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev{display: none}
} */
.module_8198679 .ModuleHead .HeadCenter{float:none;}
#module_8198679 {
padding:0px;
}
#module_8198679 {
position:static;
z-index:0;
top:27px;
left:0px;
width:100%;
height: auto;
}
#module_8198679 .ModuleHead8198679 {
display:none;
}

#module_8198679 .slidegiant-container .slideshow-1 .swiper-pagination .swiper-pagination-bullet:before{background-color:;}
#module_8198679 .slidegiant-container .slideshow-1 .swiper-pagination .swiper-pagination-bullet-active{background-color:;}
.module_8143284 .ModuleHead .HeadCenter{float:none;}
#module_8143284 {
padding:0px;
}
#module_8143284 {
position:static;
z-index:0;
width:100%;
height: auto;
}
#module_8143284 .ModuleHead8143284 {
display:none;
}
#module_8143284 .ModuleHead .HeadText.HeadText8143284 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8143284 .ModuleHead .HeadCenter.HeadCenter8143284{text-align:left;}
#module_8143284 .ModuleHead .HeadCenter.HeadCenter8143284 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8143284 .BodyCenter.BodyCenter8143284 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8143284 >.module_8143284 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8143284 >.module_8143284{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8143284 .BodyCenter.BodyCenter8143284 {
padding-top:60px;
padding-left:0px;
padding-right:0px;
padding-bottom:60px;
}
}
@media screen and (max-width: 767px){
#module_8143284 .BodyCenter.BodyCenter8143284 {
padding-top:0px;
padding-left:10px;
padding-right:10px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8143284 >.module_8143284 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8143284 >.module_8143284 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8143284 .ModuleSubContainer{background-color:transparent;}
#module_8143284 .ModuleSubContainer{background-image:none;}
#module_8143284 .ModuleSubContainer{background-repeat:no-repeat;}
#module_8143284 .ModuleSubContainer{background-position:0% 0%;}
#module_8143284 .ModuleSubContainer{background-attachment:scroll;}
#module_8143284 {!bgVideo!}{bgVideoUrl:}
#module_8143284 .gridBgVideo .bgVideoMask{opacity:1}
.ModuleGridContainer.ModuleGridContainer8143284 {}
/*图文模块 layout 101*/
.ModuleImageTextGiant.layout-101 .imageTextGiant-Container{height: auto; word-wrap: break-word;max-height: 100%;padding:10px;max-width: 100%; overflow: hidden;}.module_8198668 .ModuleHead .HeadCenter{float:none;}
#module_8198668 {
padding:0px;
}
#module_8198668 {
position:static;
z-index:0;
top:27px;
left:0px;
width:100%;
height: auto;
}
#module_8198668 .ModuleHead8198668 {
display:none;
}
#module_8198668 .ModuleHead .HeadText.HeadText8198668 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8198668 .ModuleHead .HeadCenter.HeadCenter8198668{text-align:left;}
#module_8198668 .ModuleHead .HeadCenter.HeadCenter8198668 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8198668 .BodyCenter.BodyCenter8198668 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8198668 >.module_8198668 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8198668 >.module_8198668{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8198668 .BodyCenter.BodyCenter8198668 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8198668 .BodyCenter.BodyCenter8198668 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8198668 >.module_8198668 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8198668 >.module_8198668 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8198668 .ModuleImageTextGiantContent{margin-top:0px;}
#module_8198668 .ModuleImageTextGiantContent{margin-bottom:0px;}
#module_8198668 .ModuleImageTextGiantContent{margin-left:0px;}
#module_8198668 .ModuleImageTextGiantContent{margin-right:0px;}
#module_8198668 .imageTextGiant-Container{padding-top:px;}
#module_8198668 .imageTextGiant-Container{padding-bottom:px;}
#module_8198668 .imageTextGiant-Container{padding-left:px;}
#module_8198668 .imageTextGiant-Container{padding-right:px;}

/*图文模块 layout 103*/
.ModuleImageTextGiant.layout-108 .imageTextGiant-Container{max-height: 100%; max-width: 100%; /*padding: 10px;*/}
.ModuleImageTextGiant.layout-108 .imageTextGiant-Container .GraphicUpper{margin-bottom: 10px;text-align: left;}
.ModuleImageTextGiant.layout-108 .imageTextGiant-Container .row{margin-right:0px;margin-left:0px;}
@media only screen and (max-width: 767px) {
	.ModuleImageTextGiant.layout-108 .imageTextGiant-Container .row{width: auto;}
	.ModuleImageTextGiant.layout-108 .imageTextGiant-Container .ModuleImageTextContent{width: auto}
	.ModuleImageTextGiant.layout-108 .imageTextGiant-Container .row .col-xs-4{width:100%;padding-bottom: 25px }
}
/*@media only screen and (max-width: 1000px) {*/
	/*.ModuleImageTextGiant.layout-108 .imageTextGiant-Container .row{width: auto;margin: 0 auto}*/
/*}*/
/*@media only screen and (min-width: 1200px)  {*/
	/**/
/*}*/.module_8197602 .ModuleHead .HeadCenter{float:none;}
#module_8197602 {
padding:0px;
}
#module_8197602 {
position:static;
z-index:0;
width:100%;
height: auto;
}
#module_8197602 .ModuleHead8197602 {
display:none;
}
#module_8197602 .ModuleHead .HeadText.HeadText8197602 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8197602 .ModuleHead .HeadCenter.HeadCenter8197602{text-align:left;}
#module_8197602 .ModuleHead .HeadCenter.HeadCenter8197602 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8197602 .BodyCenter.BodyCenter8197602 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8197602 >.module_8197602 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8197602 >.module_8197602{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8197602 .BodyCenter.BodyCenter8197602 {
padding-top:0px;
padding-left:30px;
padding-right:30px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8197602 .BodyCenter.BodyCenter8197602 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8197602 >.module_8197602 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8197602 >.module_8197602 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8197602 .GraphicUpper .TextImage{border-top-left-radius:0px;}
#module_8197602 .GraphicUpper .TextImage{border-top-right-radius:0px;}
#module_8197602 .GraphicUpper .TextImage{border-bottom-left-radius:0px;}
#module_8197602 .GraphicUpper .TextImage{border-bottom-right-radius:0px;}
#module_8197602 .GraphicUpper .TextImage{margin-top:0px;}
#module_8197602 .GraphicUpper .TextImage{margin-bottom:0px;}
#module_8197602 .GraphicUpper .TextImage{margin-left:0px;}
#module_8197602 .GraphicUpper .TextImage{margin-right:0px;}
#module_8197602 .ModuleImageTextGiantContent{margin-top:0px;}
#module_8197602 .ModuleImageTextGiantContent{margin-bottom:0px;}
#module_8197602 .ModuleImageTextGiantContent{margin-left:0px;}
#module_8197602 .ModuleImageTextGiantContent{margin-right:0px;}
#module_8197602 .normal_ImgtextBox_content{margin-top:0px;}
#module_8197602 .normal_ImgtextBox_content{margin-bottom:0px;}
#module_8197602 .normal_ImgtextBox_content{margin-left:0px;}
#module_8197602 .normal_ImgtextBox_content{margin-right:0px;}

.module_8197580 .ModuleHead .HeadCenter{float:none;}
#module_8197580 {
padding:0px;
}
#module_8197580 {
position:static;
z-index:0;
width:100%;
height: auto;
}
#module_8197580 .ModuleHead8197580 {
display:none;
}
#module_8197580 .ModuleHead .HeadText.HeadText8197580 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8197580 .ModuleHead .HeadCenter.HeadCenter8197580{text-align:left;}
#module_8197580 .ModuleHead .HeadCenter.HeadCenter8197580 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8197580 .BodyCenter.BodyCenter8197580 {
background:none;background-color:rgb(12, 12, 12);
}
#module_8197580 >.module_8197580 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8197580 >.module_8197580{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8197580 .BodyCenter.BodyCenter8197580 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8197580 .BodyCenter.BodyCenter8197580 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8197580 >.module_8197580 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8197580 >.module_8197580 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8197580 .ModuleSubContainer{background-color:transparent;}
#module_8197580 .ModuleSubContainer{background-image:none;}
#module_8197580 .ModuleSubContainer{background-repeat:no-repeat;}
#module_8197580 .ModuleSubContainer{background-position:0% 0%;}
#module_8197580 .ModuleSubContainer{background-attachment:scroll;}
#module_8197580 {!bgVideo!}{bgVideoUrl:}
#module_8197580 .gridBgVideo .bgVideoMask{opacity:1}
.ModuleGridContainer.ModuleGridContainer8197580 {}
.ModuleCustomFormGiant.layout-101 .title{text-align: center;line-height: 50px;height: 50px;color:#333;font-size: 18px;margin-bottom: 14px;font-weight: normal;min-height: 30px;} 
.ModuleCustomFormGiant.layout-101 .from-Describe{font-size: 14px;line-height: 1;padding-bottom: 6px;}
.ModuleCustomFormGiant.layout-101 input[type=text]{line-height: 30px;font-size: 14px;border:1px solid #e5e5e5;background: #fbfbfb;width: 100%;padding:0 10px;box-sizing: border-box;min-height: 30px;}
.ModuleCustomFormGiant.layout-101 .pcCitybox{
    display: -webkit-flex; /* Safari */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 34px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.ModuleCustomFormGiant.layout-101 .customFormicon{
    width: 20px;
    height: 20px;
    margin-right: 5px;
    margin-top: -5px;
    display: inline-block !important
}
.ModuleCustomFormGiant.layout-101 .Select_Simulate li:hover{
    color:#fff;
}
.ModuleCustomFormGiant.layout-101 .Select_Simulate.layout1 .frist_item{
    padding-right: 0
}
.ModuleCustomFormGiant.layout-101 .Form-list{
    padding-top: 16px;
}
.ModuleCustomFormGiant.layout-101 .xilaImg{
    float: right;
    margin-top: 13px
}
.ModuleCustomFormGiant.layout-101 .pcCitybox select{
    -webkit-flex-grow:1;
    -ms-flex-grow:1;
    -moz-flex-grow:1;
    margin-right: 10px;
    height: 34px;
    line-height: 34px;
    appearance:none;
    -moz-appearance:none;
    -webkit-appearance:none;
    padding: 0 10px;
    cursor:pointer;
    background: url(/skinp/modules/ModuleCustomFormGiant/images/arrow1.png) no-repeat center right #fbfbfb;
    font-size: 14px;
    border:1px solid #e5e5e5;
}
.ModuleCustomFormGiant.layout-101 .cityval{
    box-sizing: border-box;
    background: #fbfbfb;
    width: 100%;
    text-align: left;
}
.ModuleCustomFormGiant.layout-101 .choose-time-mobile{
    font-size: 14px;
}
.ModuleCustomFormGiant.layout-101 .pcCitybox .Couty-select{
    margin-right:0;
}
.ModuleCustomFormGiant.layout-101 .submitbtn{line-height: 40px;
    height: 40px;
    text-align: center;
    margin-top:16px 
}
.ModuleCustomFormGiant.layout-101 input.VerificationCodeinput{
	width: 188px;
	line-height: 34px;
	margin-right: 10px;
    float:left;
    min-height:36px;
}
.ModuleCustomFormGiant.layout-101 .VerificationCode{
	width: 86px;
	height: 34px;
	float:left; 
}
.ModuleCustomFormGiant.layout-101 .Browse-file-input{
    flex-grow: 1;
    -webkit-flex-grow:1;
    -ms-flex-grow:1;
    -moz-flex-grow:1;
    margin-right: 10px;
    
}
.ModuleCustomFormGiant.layout-101 .file-box{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.ModuleCustomFormGiant.layout-101 .Browse-file{
    /* width: 90px; height: 32px; line-height: 32px;*/
    width: 80px;
     line-height: 34px;
    color:#333;
    background: #f8f8f8;
    border:1px solid #eee;
    font-size: 12px;
    text-align: center;
    height: 34px;
    flex-grow: 0;
    -webkit-flex-grow:0;
    -ms-flex-grow:0;
    -moz-flex-grow:0;
    box-sizing: border-box;
    cursor: pointer;
   
}
.ModuleCustomFormGiant.layout-101 .Browse-file:hover{
    color:#666;
    background: #eee;
    border:1px solid #ccc;
}
.ModuleCustomFormGiant.layout-101 .input-text-color{
    color:#333;
}
.ModuleCustomFormGiant.layout-101 .Describ-text-color{
    color:#666;
}
.ModuleCustomFormGiant.layout-101 .submibtn-color{
    color: #fff;
    background: #000;
    cursor: pointer;
}
.ModuleCustomFormGiant.layout-101 .submibtn-color:hover{
    color: #fff;
    background: #666;
}
.ModuleCustomFormGiant.layout-101 .multi-row-text,.ModuleCustomFormGiant.layout-101 .Select_Simulate .frist_item,.ModuleCustomFormGiant.layout-101 .choose-time{
    background: #fbfbfb;
}
.ModuleCustomFormGiant.layout-101 input[type=radio]:checked, .ModuleCustomFormGiant.layout-101 input[type=checkbox]:checked{
    background: #f10215;
    border: 1px solid #f10215;
}
.ModuleCustomFormGiant.layout-101 label{
    font-weight: normal;
    color: #666
}
@media screen and (max-width: 767px){
    .ModuleCustomFormGiant.layout-101 input[type=text],.ModuleCustomFormGiant.layout-101 .cityval,.ModuleCustomFormGiant.layout-101 .Browse-file{
        line-height: 40px;
        height: 40px;
        min-height: 40px;
    }
    .ModuleCustomFormGiant.layout-101 input.VerificationCodeinput{
        width: 120px;
    }
    .ModuleCustomFormGiant.layout-101 .VerificationCode{
        height: 40px
    }
    .ModuleCustomFormGiant .changebtn{
        line-height: 40px;
        min-height: 40px;
    }
}
/*  新增*/
.ModuleCustomFormGiant.layout-101 .cityPickerBoxwb{
    min-height: 42px
}

.ModuleCustomFormGiant.layout-101 .select_box {
    display: none;
}
.ModuleCustomFormGiant.layout-101 .UploadFileSpan {
    line-height: 30px;
    font-size: 12px;
    /* border: 1px solid #e5e5e5;
    background: #fbfbfb; */
    padding: 0 10px;
    box-sizing: border-box;
    min-height: 30px;
    width: 316px;
    display: none;
    padding-left: 0px;
}
.iconfont-fujian{
    font-size: 19px !important;

}
.customform-upload-file-preview{  margin-left: 8px;  margin-right: 8px;}
.ModuleCustomFormGiant .customform-upload-img-preview{margin-top:0px; width: 60px; height: 60px;}
.ModuleCustomFormGiant .customform-upload-img-preview img{ width: 60px; height: 60px;}
.imgclose{right: -9px; position: absolute; top: -10px;}
.Browse-file-img{width:60px !important;height:60px !important;}
.module_8197583 .ModuleHead .HeadCenter{float:none;}
#module_8197583 {
padding:0px;
}
#module_8197583 {
position:static;
z-index:0;
top:-128px;
left:0px;
width:100%;
height: auto;
}
#module_8197583 .ModuleHead8197583 {
display:none;
}
#module_8197583 .BodyCenter.BodyCenter8197583 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8197583 >.module_8197583 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8197583 >.module_8197583{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8197583 .BodyCenter.BodyCenter8197583 {
padding-top:40px;
padding-left:50px;
padding-right:50px;
padding-bottom:50px;
}
}
@media screen and (max-width: 767px){
#module_8197583 .BodyCenter.BodyCenter8197583 {
padding-top:20px;
padding-left:20px;
padding-right:20px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8197583 >.module_8197583 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8197583 >.module_8197583 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8197583 .title{font-size:23px;}
#module_8197583 .title{font-family:微软雅黑,Microsoft YaHei;}
#module_8197583 .title{color:rgb(255, 210, 49);}
#module_8197583 .title{font-weight:normal;}
#module_8197583 .title{text-decoration:none;}
#module_8197583 .title{font-style:normal;}
#module_8197583 .title{background-color:transparent;}
#module_8197583 .title{background-image:none;}
#module_8197583 .title{background-repeat:no-repeat;}
#module_8197583 .title{background-position:50% 50%;}
#module_8197583 .title{background-attachment:scroll;}
#module_8197583 .title{height:50px;line-height:50px;}
#module_8197583 .title{text-align:left;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583.customFormDatetime,#module_8197583 input.input-text-color,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{background-color:;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583 input.input-text-color,#module_8197583.customFormDatetime,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{border-top-color:;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583 input.input-text-color,#module_8197583.customFormDatetime,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{border-top-style:;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583 input.input-text-color,#module_8197583.customFormDatetime,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{border-top-width:px;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583 input.input-text-color,#module_8197583.customFormDatetime,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{border-right-color:;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583 input.input-text-color,#module_8197583.customFormDatetime,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{border-right-style:;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583 input.input-text-color,#module_8197583.customFormDatetime,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{border-right-width:px;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583 input.input-text-color,#module_8197583.customFormDatetime,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{border-bottom-color:;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583 input.input-text-color,#module_8197583.customFormDatetime,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{border-bottom-style:;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583 input.input-text-color,#module_8197583.customFormDatetime,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{border-bottom-width:px;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583 input.input-text-color,#module_8197583.customFormDatetime,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{border-left-color:;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583 input.input-text-color,#module_8197583.customFormDatetime,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{border-left-style:;}
#module_8197583 .frist_item,#module_8197583 .VerificationCodeinput,#module_8197583 .customFormCheckbox,#module_8197583 input[type=radio],#module_8197583 input.input-text-color,#module_8197583.customFormDatetime,#module_8197583 .Browse-file,#module_8197583 .customFormDatetime,#module_8197583 .pcCitybox select,#module_8197583 .multi-row-text{border-left-width:px;}
#module_8197583 .Describ-text-color{font-size:14px;}
#module_8197583 .Describ-text-color{font-family:微软雅黑,Microsoft YaHei;}
#module_8197583 .Describ-text-color{color:rgb(242, 242, 242);}
#module_8197583 .Describ-text-color{font-weight:normal;}
#module_8197583 .Describ-text-color{text-decoration:none;}
#module_8197583 .Describ-text-color{font-style:normal;}
#module_8197583 .submitbtn{font-size:14px;}
#module_8197583 .submitbtn{font-family:微软雅黑,Microsoft YaHei;}
#module_8197583 .submitbtn{color:#000;}
#module_8197583 .submitbtn{font-weight:normal;}
#module_8197583 .submitbtn{text-decoration:none;}
#module_8197583 .submitbtn{font-style:normal;}
#module_8197583 .submitbtn{background-color:rgb(255, 210, 49);} #module_8197583 input[type=radio]:checked, #module_8197583 input[type=checkbox]:checked{background:rgb(255, 210, 49);border:1px solid rgb(255, 210, 49)}
#module_8197583 .submitbtn{background-image:none;}
#module_8197583 .submitbtn{background-repeat:no-repeat;}
#module_8197583 .submitbtn{background-position:50% 50%;}
#module_8197583 .submitbtn{background-attachment:scroll;}
#module_8197583 .submitbtn:hover{font-size:14px;}
#module_8197583 .submitbtn:hover{font-family:微软雅黑,Microsoft YaHei;}
#module_8197583 .submitbtn:hover{color:#000;}
#module_8197583 .submitbtn:hover{font-weight:normal;}
#module_8197583 .submitbtn:hover{text-decoration:none;}
#module_8197583 .submitbtn:hover{font-style:normal;}
#module_8197583 .submitbtn:hover{background-color:#ffc905;}
#module_8197583 .submitbtn:hover{background-image:none;}
#module_8197583 .submitbtn:hover{background-repeat:no-repeat;}
#module_8197583 .submitbtn:hover{background-position:50% 50%;}
#module_8197583 .submitbtn:hover{background-attachment:scroll;}

.module_8197586 .ModuleHead .HeadCenter{float:none;}
#module_8197586 {
padding:0px;
}
#module_8197586 {
position:static;
z-index:0;
top:34px;
left:0px;
width:100%;
height: auto;
}
#module_8197586 .ModuleHead8197586 {
display:none;
}
#module_8197586 .ModuleHead .HeadText.HeadText8197586 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8197586 .ModuleHead .HeadCenter.HeadCenter8197586{text-align:left;}
#module_8197586 .ModuleHead .HeadCenter.HeadCenter8197586 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8197586 .BodyCenter.BodyCenter8197586 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8197586 >.module_8197586 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8197586 >.module_8197586{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8197586 .BodyCenter.BodyCenter8197586 {
padding-top:60px;
padding-left:10px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8197586 .BodyCenter.BodyCenter8197586 {
padding-top:20px;
padding-left:20px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8197586 >.module_8197586 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8197586 >.module_8197586 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8197586 .ModuleImageTextGiantContent{margin-top:0px;}
#module_8197586 .ModuleImageTextGiantContent{margin-bottom:0px;}
#module_8197586 .ModuleImageTextGiantContent{margin-left:0px;}
#module_8197586 .ModuleImageTextGiantContent{margin-right:0px;}
#module_8197586 .imageTextGiant-Container{padding-top:px;}
#module_8197586 .imageTextGiant-Container{padding-bottom:px;}
#module_8197586 .imageTextGiant-Container{padding-left:px;}
#module_8197586 .imageTextGiant-Container{padding-right:px;}

/*图文模块 layout 103*/
.ModuleImageTextGiant.layout-103 .imageTextGiant-Container{max-height: 100%; max-width: 100%;padding: 10px;}
.ModuleImageTextGiant.layout-103 .imageTextGiant-Container .GraphicUpper{text-align: center;}
.ModuleImageTextGiant.layout-103 .ModuleImageTextContent{width: 100%;}

.module_8197594 .ModuleHead .HeadCenter{float:none;}
#module_8197594 {
padding:0px;
}
#module_8197594 {
position:static;
z-index:0;
top:28px;
width:100%;
height: auto;
}
#module_8197594 .ModuleHead8197594 {
display:none;
}
#module_8197594 .ModuleHead .HeadText.HeadText8197594 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8197594 .ModuleHead .HeadCenter.HeadCenter8197594{text-align:left;}
#module_8197594 .ModuleHead .HeadCenter.HeadCenter8197594 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8197594 .BodyCenter.BodyCenter8197594 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8197594 >.module_8197594 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8197594 >.module_8197594{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8197594 .BodyCenter.BodyCenter8197594 {
padding-top:120px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8197594 .BodyCenter.BodyCenter8197594 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8197594 >.module_8197594 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8197594 >.module_8197594 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8197594 .GraphicUpper .TextImage{border-top-left-radius:0px;}
#module_8197594 .GraphicUpper .TextImage{border-top-right-radius:0px;}
#module_8197594 .GraphicUpper .TextImage{border-bottom-left-radius:0px;}
#module_8197594 .GraphicUpper .TextImage{border-bottom-right-radius:0px;}
#module_8197594 .GraphicUpper .TextImage{margin-top:0px;}
#module_8197594 .GraphicUpper .TextImage{margin-bottom:0px;}
#module_8197594 .GraphicUpper .TextImage{margin-left:0px;}
#module_8197594 .GraphicUpper .TextImage{margin-right:0px;}
#module_8197594 .imageTextGiant-Container{padding-top:px;}
#module_8197594 .imageTextGiant-Container{padding-bottom:px;}
#module_8197594 .imageTextGiant-Container{padding-left:px;}
#module_8197594 .imageTextGiant-Container{padding-right:px;}
#module_8197594 .ModuleImageTextGiantContent{margin-top:0px;}
#module_8197594 .ModuleImageTextGiantContent{margin-bottom:0px;}
#module_8197594 .ModuleImageTextGiantContent{margin-left:0px;}
#module_8197594 .ModuleImageTextGiantContent{margin-right:0px;}
#module_8197594 .imageTextGiant-Container{margin-top:px;}
#module_8197594 .imageTextGiant-Container{margin-bottom:px;}
#module_8197594 .imageTextGiant-Container{margin-left:px;}
#module_8197594 .imageTextGiant-Container{margin-right:px;}

.module_8143236 .ModuleHead .HeadCenter{float:none;}
#module_8143236 {
padding:0px;
}
#module_8143236 {
position:static;
z-index:0;
width:100%;
height: auto;
}
#module_8143236 .ModuleHead8143236 {
display:none;
}
#module_8143236 .ModuleHead .HeadText.HeadText8143236 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8143236 .ModuleHead .HeadCenter.HeadCenter8143236{text-align:left;}
#module_8143236 .ModuleHead .HeadCenter.HeadCenter8143236 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8143236 .BodyCenter.BodyCenter8143236 {
background:none;background-color:rgb(38, 38, 38);
}
#module_8143236 >.module_8143236 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8143236 >.module_8143236{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8143236 .BodyCenter.BodyCenter8143236 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8143236 .BodyCenter.BodyCenter8143236 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8143236 >.module_8143236 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8143236 >.module_8143236 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8143236 .ModuleSubContainer{background-color:transparent;}
#module_8143236 .ModuleSubContainer{background-image:none;}
#module_8143236 .ModuleSubContainer{background-repeat:no-repeat;}
#module_8143236 .ModuleSubContainer{background-position:0% 0%;}
#module_8143236 .ModuleSubContainer{background-attachment:scroll;}
#module_8143236 {!bgVideo!}{bgVideoUrl:}
#module_8143236 .gridBgVideo .bgVideoMask{opacity:1}
.ModuleGridContainer.ModuleGridContainer8143236 {}
.module_8143237 .ModuleHead .HeadCenter{float:none;}
#module_8143237 {
padding:0px;
}
#module_8143237 {
position:static;
z-index:0;
width:100%;
height: auto;
}
#module_8143237 .ModuleHead8143237 {
display:none;
}
#module_8143237 .ModuleHead .HeadText.HeadText8143237 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8143237 .ModuleHead .HeadCenter.HeadCenter8143237{text-align:left;}
#module_8143237 .ModuleHead .HeadCenter.HeadCenter8143237 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8143237 .BodyCenter.BodyCenter8143237 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8143237 >.module_8143237 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8143237 >.module_8143237{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8143237 .BodyCenter.BodyCenter8143237 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8143237 .BodyCenter.BodyCenter8143237 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8143237 >.module_8143237 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8143237 >.module_8143237 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8143237 .ModuleImageTextGiantContent{margin-top:0px;}
#module_8143237 .ModuleImageTextGiantContent{margin-bottom:0px;}
#module_8143237 .ModuleImageTextGiantContent{margin-left:0px;}
#module_8143237 .ModuleImageTextGiantContent{margin-right:0px;}
#module_8143237 .imageTextGiant-Container{padding-top:px;}
#module_8143237 .imageTextGiant-Container{padding-bottom:px;}
#module_8143237 .imageTextGiant-Container{padding-left:px;}
#module_8143237 .imageTextGiant-Container{padding-right:px;}

.module_8143181 .ModuleHead .HeadCenter{float:none;}
#module_8143181 {
padding:0px;
}
#module_8143181 {
}
#module_8143181 .ModuleHead0 {
display:none;
}
#module_8143181 .ModuleHead .HeadText.HeadText0 {
}
#module_8143181 .ModuleHead .HeadTextMore.HeadTextMore0 {
}
#module_8143181 >.module_0 {
border:none;
}
@media screen and (min-width: 768px){
#module_8143181 .BodyCenter.BodyCenter0 {
}
}
@media screen and (max-width: 767px){
#module_8143181 .BodyCenter.BodyCenter0 {
}
}
#module_8143181 .BodyCenter.BodyCenter0 {
}
#module_8143181 .BodyCenter a {
}

