/* cache file /mnt/YouZhan/youzhannew-eyunshe/caches/868/csscache/868_345140_1_.cache exists */
/*md5:6034b1bc2f7a7b94d6b58b60aafe8941*/
.ModuleGridContainer[gridswidthmode="2"]{max-width:1200px;width:auto;}
.BodyLeftZone{display:none;}
.BodyRightZone{display:none;}
.BodyMain2Zone{display:none;}
.BodyMain3Zone{display:none;}
.BodyMain4Zone{display:none;}
.ModuleGridGiant.layout-101 .ModuleGridItem {
    padding: 0
}

.ModuleGridGiant.layout-101 .row {
    margin-right: 0px;
    margin-left: 0px;
}

.ModuleGridGiant.layout-101 .ModuleGridCol {
    padding: 0px;
}

.ModuleGridGiant.layout-101 .ModuleGridItem {
    padding: 0px;
}

.ModuleGridGiant.layout-101 .ModuleGridItem {
    min-height: 5px;
}

.ModuleGridGiant.layout-101 .ModuleGridContainer {
    margin-right: auto;
    margin-left: auto;
    padding-right: 0;
    padding-left: 0;
}
.ModuleGridGiant.layout-101{height: 100%;}
.ModuleGridGiant.layout-101 .ModuleSubContainer{position: relative;}
.ModuleGridGiant.layout-101 .gridBgVideo{position: absolute;top: 0;left: 0;width:100%;z-index: -1;}
.ModuleGridGiant.layout-101 .gridBgVideo .bgVideoMask{position: absolute;top: 0;left: 0;right: 0;bottom: 0;background-color: rgb(0,0,0);}
.ModuleGridGiant.layout-101 .gridBgVideo .bgVideo{width: 100%; height: 100%; object-fit: cover; object-position: center center;}
.ModuleGridGiant.layout-101 .gridBgVideo.noBgVideo{display: none;}.module_8153655 .ModuleHead .HeadCenter{float:none;}
#module_8153655 {
padding:0px;
}
#module_8153655 {
position:static;
z-index:999;
top:0px;
left:0px;
width:100%;
height: auto;
}
#module_8153655 .ModuleHead8153655 {
display:none;
}
#module_8153655 .ModuleHead .HeadText.HeadText8153655 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8153655 .ModuleHead .HeadCenter.HeadCenter8153655{text-align:left;}
#module_8153655 .ModuleHead .HeadCenter.HeadCenter8153655 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8153655 .BodyCenter.BodyCenter8153655 {
background:none;background-color:rgb(255, 255, 255);
}
#module_8153655 >.module_8153655 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:rgb(242, 242, 242);
border-bottom-width:1px;
}
#module_8153655 >.module_8153655{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8153655 .BodyCenter.BodyCenter8153655 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8153655 .BodyCenter.BodyCenter8153655 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8153655 >.module_8153655 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8153655 >.module_8153655 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8153655 .ModuleSubContainer{background-color:transparent;}
#module_8153655 .ModuleSubContainer{background-image:none;}
#module_8153655 .ModuleSubContainer{background-repeat:no-repeat;}
#module_8153655 .ModuleSubContainer{background-position:0% 0%;}
#module_8153655 .ModuleSubContainer{background-attachment:scroll;}
#module_8153655 {!bgVideo!}{bgVideoUrl:}
#module_8153655 .gridBgVideo .bgVideoMask{opacity:1}
.ModuleGridContainer.ModuleGridContainer8153655 {}
.ModuleImageGiant.layout-101 .BodyCenter{
	text-align:center;
}
.ModuleImageGiant.layout-101 img{
	margin: auto;
    max-width: 100%;
	border: none;
}

.module_8153656 .ModuleHead .HeadCenter{float:none;}
#module_8153656 {
padding:0px;
}
#module_8153656 {
position:static;
z-index:0;
width:100%;
height: auto;
}
#module_8153656 .ModuleHead8153656 {
display:none;
}
#module_8153656 .ModuleHead .HeadText.HeadText8153656 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8153656 .ModuleHead .HeadCenter.HeadCenter8153656{text-align:left;}
#module_8153656 .ModuleHead .HeadCenter.HeadCenter8153656 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8153656 .BodyCenter.BodyCenter8153656 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8153656 >.module_8153656 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8153656 >.module_8153656{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8153656 .BodyCenter.BodyCenter8153656 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8153656 .BodyCenter.BodyCenter8153656 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8153656 >.module_8153656 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8153656 >.module_8153656 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8153656 img{border-top-color:transparent;}
#module_8153656 img{border-top-style:none;}
#module_8153656 img{border-top-width:0px;}
#module_8153656 img{border-right-color:transparent;}
#module_8153656 img{border-right-style:none;}
#module_8153656 img{border-right-width:0px;}
#module_8153656 img{border-bottom-color:transparent;}
#module_8153656 img{border-bottom-style:none;}
#module_8153656 img{border-bottom-width:0px;}
#module_8153656 img{border-left-color:transparent;}
#module_8153656 img{border-left-style:none;}
#module_8153656 img{border-left-width:0px;}
#module_8153656 img{border-top-left-radius:0px;}
#module_8153656 img{border-top-right-radius:0px;}
#module_8153656 img{border-bottom-left-radius:0px;}
#module_8153656 img{border-bottom-right-radius:0px;}

.ModuleNavGiant.layout-103 .main-nav-content {
  position: relative;
  width: 100%;
  margin: 0 auto;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s; 
  -o-transition: all 0.3s;
  box-sizing: border-box;
  -moz-box-sizing:border-box; 
 -webkit-box-sizing:border-box; 
  line-height: 0;
  overflow:hidden;
}
.ModuleNavGiant.layout-103 .aroundMune{
   position: absolute;
   display: flex;
   align-items: center;
   right: 0px;
   padding:0 10px;
   height: 100%;
   z-index: 5;
   transform: rotateY(90deg);
}
.ModuleNavGiant.layout-103 .aroundMune.active{
  transform: rotateY(0deg);
}
.ModuleNavGiant.layout-103 .moveMenuRight, .ModuleNavGiant.layout-103 .moveMenuLeft{
   display: inline-block;
   width: 36px;
   height: 36px;
   line-height: 36px;
   font-size: 16px;
   color:#666;
   text-align: center;
   border:1px solid rgba(0,0,0,.1);
   border-radius: 5px;
   cursor: pointer;
}
.ModuleNavGiant.layout-103 .main-nav-content .moveMenuRight{
  background-color: rgba(238,238,238,.6);
}
.ModuleNavGiant.layout-103 .main-nav-content .moveMenuLeft{
   display:none;
   background-color: rgba(238,238,238,.6);
   margin-right: 10px
}
.ModuleNavGiant.layout-103 .moveMenuRight:hover, .ModuleNavGiant.layout-103 .moveMenuLeft:hover{
   color:#fff;
   background-color:rgba(204,204,204,.6);
}
.ModuleNavGiant.layout-103 .main-nav-content >.blank-solve{
  width: auto;
  display: inline-block;
  transition: all .4s;
  position: relative;
  left: 0;
}
.ModuleNavGiant.layout-103 .navBorderTop {
  position: absolute;
  width: auto;
  height: 80px;
  left: 0px;
  bottom:initial;
  background-color: #1e88e5;
  display:none;
}
.ModuleNavGiant.layout-103 .main-nav-item-group {
  box-sizing: border-box;
  -moz-box-sizing:border-box; 
 -webkit-box-sizing:border-box;
  width: auto;
  text-align: center;
  float: left;
}
.ModuleNavGiant.layout-103 .main-nav-item {
  box-sizing: content-box;
  width: auto;
  height:80px;
  line-height:80px;
  color: #000000;
  display: inline-block;
  position: relative;
  transition:all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s; 
  -o-transition: all 0.5s;
}
.ModuleNavGiant.layout-103 .main-nav-item span{
	display:block;
	width:100%;
	height:100%;
	position:relative;
  box-sizing: border-box;
  -moz-box-sizing:border-box; 
  -webkit-box-sizing:border-box;
}
.ModuleNavGiant.layout-103 .sub-nav-item-group {
  z-index: 3;
  width: 192px;
  height: auto;
  line-height: 40px;
  text-align: center;
  border-top: 2px solid #333;
  display: none;
}
.ModuleNavGiant.layout-103 .sub-nav-item {
  display: block;
  transition: all 0.5s;
  -moz-transition: all 0.5s;
  -webkit-transition: all 0.5s; 
  -o-transition: all 0.5s;
  height: 40px;
  line-height: 40px;
  font-size: 12px;
  padding-left: 0;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.ModuleNavGiant.layout-103 .sub-nav-item:last-child{
  border-bottom: none!important;
}
.ModuleNavGiant.layout-103 .sub-nav-item:hover {
  padding-left: 10px;
  background-color: #f7f7f7;
}
.ModuleNavGiant.layout-103 .main-nav-item-hover span{
  color: #fff;
  top: -7px;
   -webkit-animation: layout-103-nav-active 0.5s;
  -moz-animation: layout-103-nav-active 0.5s;
  -o-animation: layout-103-nav-active 0.5s;
  animation: layout-103-nav-active 0.5s;
}

.ModuleNavGiant.layout-103 .main-nav-item-hover::after {
  content: '';
  position: absolute;
  left: 50%;
  margin-left: -10px;
  width: 20px;
  height: 2px;
  background-color: #fff;
  -webkit-animation: layout-103-nav-active2 0.5s;
  -moz-animation: layout-103-nav-active2 0.5s;
  -o-animation: layout-103-nav-active2 0.5s;
  animation: layout-103-nav-active2 0.5s;
  bottom: 25%;
}
@keyframes layout-103-nav-active {
  from {
    top: 0px;
  }
  to {
    top: -7px;
  }
}
@-webkit-keyframes layout-103-nav-active
 { 
  from {
    top: 0px;
  }
  to {
    top: -7px;
  }
 } 
 
  
 @-moz-keyframes layout-103-nav-active
 { 
   from {
     top: 0px;
   }
   to {
    top: -7px;
   }
 }
 @-o-keyframes layout-103-nav-active
 { 
   from {
     top: 0px;
   }
   to {
    top: -7px;
   }
 }  
@keyframes layout-103-nav-active2 {
  from {
    bottom: 20%;
  }
  to {
    bottom: 25%;
  }
}
@-webkit-keyframes layout-103-nav-active2
 { 
  from {
    bottom: 20%;
  }
  to {
    bottom: 25%;
  }
 } 
 
  
 @-moz-keyframes layout-103-nav-active2
 { 
  from {
    bottom: 20%;
  }
  to {
    bottom: 25%;
  }
 }
 @-o-keyframes layout-103-nav-active2
 { 
  from {
    bottom: 20%;
  }
  to {
    bottom: 25%;
  }
 }  
.ModuleNavGiant.layout-103 .clearfix:after{content:'.';clear: both;display:block;width:0;height:0;overflow: hidden;visibility: hidden;}.module_8153657 .ModuleHead .HeadCenter{float:none;}
#module_8153657 {
padding:0px;
}
#module_8153657 {
position:static;
z-index:0;
width:100%;
height: auto;
}
#module_8153657 .ModuleHead8153657 {
display:none;
}
#module_8153657 .ModuleHead .HeadText.HeadText8153657 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8153657 .ModuleHead .HeadCenter.HeadCenter8153657{text-align:left;}
#module_8153657 .ModuleHead .HeadCenter.HeadCenter8153657 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8153657 .BodyCenter.BodyCenter8153657 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8153657 >.module_8153657 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8153657 >.module_8153657{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8153657 .BodyCenter.BodyCenter8153657 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8153657 .BodyCenter.BodyCenter8153657 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8153657 >.module_8153657 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8153657 >.module_8153657 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8153657 .main-nav-item-group{height:80px;}#module_8153657 .main-nav-item{height:80px;line-height:80px}#module_8153657 .navBorderTop{height:80px;}#module_8153657 .main-nav-content{height:80px}
#module_8153657 .main-nav-content{background-color:rgba(0,0,0,0);}
#module_8153657 .main-nav-content{background-image:none;}
#module_8153657 .main-nav-content{background-repeat:no-repeat;}
#module_8153657 .main-nav-content{}
#module_8153657 .main-nav-content{}
#module_8153657 .main-nav-content{text-align:center;}
#module_8153657 .main-nav-item span{font-size:14px;}
#module_8153657 .main-nav-item span{font-family:微软雅黑,Microsoft YaHei;}
#module_8153657 .main-nav-item span{color:rgb(38, 38, 38);}
#module_8153657 .main-nav-item span{font-weight:normal;}
#module_8153657 .main-nav-item span{text-decoration:none;}
#module_8153657 .main-nav-item span{font-style:normal;}
#module_8153657 .main-nav-item{background-color:transparent;}
#module_8153657 .main-nav-item{}
#module_8153657 .main-nav-item{background-repeat:no-repeat;}
#module_8153657 .main-nav-item{}
#module_8153657 .main-nav-item{}
#module_8153657 .main-nav-item span{width:auto;}
#module_8153657 .main-nav-item span{padding-left:29px;padding-right:29px;}
#module_8153657 .sub-nav-item-group{border-top-color:#333;}
#module_8153657 .sub-nav-item-group{border-top-style:solid;}
#module_8153657 .sub-nav-item-group{border-top-width:2px;}
#module_8153657 .sub-nav-item-group{border-right-color:transparent;}
#module_8153657 .sub-nav-item-group{border-right-style:none;}
#module_8153657 .sub-nav-item-group{border-right-width:0px;}
#module_8153657 .sub-nav-item-group{border-bottom-color:transparent;}
#module_8153657 .sub-nav-item-group{border-bottom-style:none;}
#module_8153657 .sub-nav-item-group{border-bottom-width:0px;}
#module_8153657 .sub-nav-item-group{border-left-color:transparent;}
#module_8153657 .sub-nav-item-group{border-left-style:none;}
#module_8153657 .sub-nav-item-group{border-left-width:0px;}
#module_8153657 .sub-nav-item-group{width:192px;}
#module_8153657 .sub-nav-item{height:40px;line-height:40px}
#module_8153657 .sub-nav-item{font-size:12px;}
#module_8153657 .sub-nav-item{font-family:微软雅黑,Microsoft YaHei;}
#module_8153657 .sub-nav-item{color:#000;}
#module_8153657 .sub-nav-item{font-weight:normal;}
#module_8153657 .sub-nav-item{text-decoration:none;}
#module_8153657 .sub-nav-item{font-style:normal;}
#module_8153657 .sub-nav-item{background-color:#fff;}
#module_8153657 .sub-nav-item{background-image:none;}
#module_8153657 .sub-nav-item{background-repeat:no-repeat;}
#module_8153657 .sub-nav-item{}
#module_8153657 .sub-nav-item{}
#module_8153657 .sub-nav-item{border-bottom-color:#e6e6e6;}
#module_8153657 .sub-nav-item{border-bottom-style:solid;}
#module_8153657 .sub-nav-item{border-bottom-width:1px;}
#module_8153657 .sub-nav-item{margin-top:px;}
#module_8153657 .main-nav-item-hover span{font-size:14px;}
#module_8153657 .main-nav-item-hover span{font-family:微软雅黑,Microsoft YaHei;}
#module_8153657 .main-nav-item-hover span{color:rgb(255, 255, 255);}#module_8153657 .main-nav-item-hover::after{background-color:rgb(255, 255, 255);}
#module_8153657 .main-nav-item-hover span{font-weight:normal;}
#module_8153657 .main-nav-item-hover span{text-decoration:none;}
#module_8153657 .main-nav-item-hover span{font-style:normal;}
#module_8153657 .navBorderTop{background-color:rgb(16, 170, 156);}
#module_8153657 .navBorderTop{background-image:none;}
#module_8153657 .navBorderTop{background-repeat:no-repeat;}
#module_8153657 .navBorderTop{}
#module_8153657 .navBorderTop{}
#module_8153657 .sub-nav-item:hover{font-size:12px;}
#module_8153657 .sub-nav-item:hover{font-family:微软雅黑,Microsoft YaHei;}
#module_8153657 .sub-nav-item:hover{color:#000;}
#module_8153657 .sub-nav-item:hover{font-weight:normal;}
#module_8153657 .sub-nav-item:hover{text-decoration:none;}
#module_8153657 .sub-nav-item:hover{font-style:normal;}
#module_8153657 .sub-nav-item:hover{background-color:#f2f2f2;}
#module_8153657 .sub-nav-item:hover{background-image:none;}
#module_8153657 .sub-nav-item:hover{background-repeat:no-repeat;}
#module_8153657 .sub-nav-item:hover{}
#module_8153657 .sub-nav-item:hover{}


/*轮播图样式*/

/*切换按钮样式*/
.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-container{ position: relative;}
.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next,.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev{ position: absolute; width: 81px; height: 82px; background: rgba(0,0,0,0.2);top:50%;z-index: 9999;
    transform : translate(0,-50%);
    -webkit-transform:translate(0,-50%);    /* for Chrome || Safari */
    -moz-transform: translate(0,-50%);       /* for Firefox */
    -ms-transform:translate(0,-50%);       /* for IE */
    -o-transform: translate(0,-50%);        /* for Opera */
    transition: all .3s
}
.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next:hover,.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev:hover{background: rgba(0,0,0,0.4);}
.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next{left: 0; cursor: pointer;}
.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev{right: 0;cursor: pointer;}
.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next:before{ content: ""; position: absolute;
    top:50%; left: 50%; width: 17px; height:30px; background: #fff;
    transform : translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);    /* for Chrome || Safari */
    -moz-transform: translate(-50%,-50%);       /* for Firefox */
    -ms-transform:translate(-50%,-50%);       /* for IE */
    -o-transform: translate(-50%,-50%);
    background: url("../images/pres.png") no-repeat center;
    background-size: 100%;
}


.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev:before{ content: ""; position: absolute;
    top:50%; left: 50%; width: 17px; height:30px; background: #fff;
    transform : translate(-50%,-50%);
    -webkit-transform:translate(-50%,-50%);    /* for Chrome || Safari */
    -moz-transform: translate(-50%,-50%);       /* for Firefox */
    -ms-transform:translate(-50%,-50%);       /* for IE */
    -o-transform: translate(-50%,-50%);
    background: url("../images/nexts.png") no-repeat center;
    background-size: 100%;
}
/*.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev:after{ content: ""; position: absolute;*/
    /*top:44%; right: 40%; width: 2px; height:20px; background: #fff;*/
    /*-webkit-transform: rotate(-135deg);   !* for Chrome || Safari *!*/
    /*-moz-transform:  rotate(-135deg);       !* for Firefox *!*/
    /*-ms-transform:   rotate(-135deg);        !* for IE *!*/
    /*-o-transform:   rotate(-135deg);       !* for Opera *!*/
    /*transform: rotate(-135deg);*/
/*}*/
.ModuleSlideGiant.layout-104 .slidegiant-container .slideshow-1 .swiper-pagination .swiper-pagination-bullet{width: 16px;  height: 16px; border-radius: 8px;border: 0;  background: rgba(0, 0, 0, 0); position: relative; opacity: 1;}
.ModuleSlideGiant.layout-104 .slidegiant-container .slideshow-1 .swiper-pagination .swiper-pagination-bullet:before{ content: ""; width: 8px; height: 8px; background: #fff; border-radius: 50%; position: absolute; top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    -webkit-transform: translate(-50%,-50%);   /* for Chrome || Safari */
    -moz-transform: translate(-50%,-50%);       /* for Firefox */
    -ms-transform:  translate(-50%,-50%);        /* for IE */
    -o-transform:  translate(-50%,-50%);
}
.ModuleSlideGiant.layout-104 .slidegiant-container .slideshow-1 .swiper-pagination .swiper-pagination-bullet-active{background: rgba(0, 0, 0, 0.21); }
/*.forie .swiper-container {height: 600px;}*/
.forie .swiper-pagination {  position: absolute;  left: 0;  text-align: center;  bottom:5px;  width: 100%;  }
.forie .swiper-pagination-switch{display: inline-block;width: 16px;  height: 16px; border-radius: 8px;border: 0;  background: rgba(0, 0, 0, 0); position: relative; opacity: 1; margin: 0 5px;}
.forie .swiper-pagination-switch:before{ content: ""; width: 8px; height: 8px; background: #fff; border-radius: 50%; position: absolute; top: 50%; left: 50%;    transform: translate(-50%,-50%);webkit-transform: translate(-50%,-50%); -moz-transform: translate(-50%,-50%);  -ms-transform: translate(-50%,-50%);  -o-transform: translate(-50%,-50%);}
.forie .swiper-active-switch{background: rgba(0, 0, 0, 0.21); }
@media only screen and (max-width: 767px) {
    .ModuleSlideGiant .SubContainer {display: none;}
    .ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next,.ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev{display: none}
}
/* @media only screen and (max-width: 480px) {
    .ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next,.swiper-slideshow-1-prev{display: none}
}
@media only screen and (min-width: 481px) and (max-width: 767px) {
    .ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next,.swiper-slideshow-1-prev{display: none}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-next{display: none}
    .ModuleSlideGiant.layout-104 .slidegiant-container .swiper-slideshow-1-prev{display: none}
} */
.module_8198678 .ModuleHead .HeadCenter{float:none;}
#module_8198678 {
padding:0px;
}
#module_8198678 {
position:static;
z-index:0;
top:22px;
width:100%;
height: auto;
}
#module_8198678 .ModuleHead8198678 {
display:none;
}

#module_8198678 .slidegiant-container .slideshow-1 .swiper-pagination .swiper-pagination-bullet:before{background-color:;}
#module_8198678 .slidegiant-container .slideshow-1 .swiper-pagination .swiper-pagination-bullet-active{background-color:;}
.module_8201860 .ModuleHead .HeadCenter{float:none;}
#module_8201860 {
padding:0px;
}
#module_8201860 {
position:static;
z-index:0;
top:0px;
width:100%;
height: auto;
}
#module_8201860 .ModuleHead8201860 {
display:none;
}
#module_8201860 .ModuleHead .HeadText.HeadText8201860 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8201860 .ModuleHead .HeadCenter.HeadCenter8201860{text-align:left;}
#module_8201860 .ModuleHead .HeadCenter.HeadCenter8201860 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8201860 .BodyCenter.BodyCenter8201860 {
background:none;background-color:rgb(242, 242, 242);
}
#module_8201860 >.module_8201860 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8201860 >.module_8201860{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8201860 .BodyCenter.BodyCenter8201860 {
padding-top:60px;
padding-left:0px;
padding-right:0px;
padding-bottom:60px;
}
}
@media screen and (max-width: 767px){
#module_8201860 .BodyCenter.BodyCenter8201860 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8201860 >.module_8201860 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8201860 >.module_8201860 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8201860 .ModuleSubContainer{background-color:transparent;}
#module_8201860 .ModuleSubContainer{background-image:none;}
#module_8201860 .ModuleSubContainer{background-repeat:no-repeat;}
#module_8201860 .ModuleSubContainer{background-position:0% 0%;}
#module_8201860 .ModuleSubContainer{background-attachment:scroll;}
#module_8201860 {!bgVideo!}{bgVideoUrl:}
#module_8201860 .gridBgVideo .bgVideoMask{opacity:1}
.ModuleGridContainer.ModuleGridContainer8201860 {}
/*图文模块 layout 101*/
.ModuleImageTextGiant.layout-101 .imageTextGiant-Container{height: auto; word-wrap: break-word;max-height: 100%;padding:10px;max-width: 100%; overflow: hidden;}.module_8201857 .ModuleHead .HeadCenter{float:none;}
#module_8201857 {
padding:0px;
}
#module_8201857 {
position:static;
z-index:0;
top:384px;
left:930px;
width:100%;
height: auto;
}
#module_8201857 .ModuleHead8201857 {
display:none;
}
#module_8201857 .ModuleHead .HeadText.HeadText8201857 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8201857 .ModuleHead .HeadCenter.HeadCenter8201857{text-align:left;}
#module_8201857 .ModuleHead .HeadCenter.HeadCenter8201857 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8201857 .BodyCenter.BodyCenter8201857 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8201857 >.module_8201857 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8201857 >.module_8201857{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8201857 .BodyCenter.BodyCenter8201857 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:20px;
}
}
@media screen and (max-width: 767px){
#module_8201857 .BodyCenter.BodyCenter8201857 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8201857 >.module_8201857 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8201857 >.module_8201857 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8201857 .ModuleImageTextGiantContent{margin-top:0px;}
#module_8201857 .ModuleImageTextGiantContent{margin-bottom:0px;}
#module_8201857 .ModuleImageTextGiantContent{margin-left:0px;}
#module_8201857 .ModuleImageTextGiantContent{margin-right:0px;}
#module_8201857 .imageTextGiant-Container{padding-top:px;}
#module_8201857 .imageTextGiant-Container{padding-bottom:px;}
#module_8201857 .imageTextGiant-Container{padding-left:px;}
#module_8201857 .imageTextGiant-Container{padding-right:px;}

/*内容*/
.ModuleNewsListGiant.layout-107 .news-container{ width: 100%; margin: 0 auto; }
.ModuleNewsListGiant.layout-107 .news-container .news-con-box {width: 80%; padding-right: 5%;}
.ModuleNewsListGiant.layout-107 .news-time{ width: 15%; display: inline-block; float: left;}
.ModuleNewsListGiant.layout-107 .news-time time {  position: relative;  margin-bottom: 16px;padding-top: 14px; font-size: 24px;  color: #999;  -webkit-transition: all .3s;  transition: all .3s;  display: inline-block;  }
.ModuleNewsListGiant.layout-107 .news-time time:before {  position: absolute;  content: "";  width: 25px;  height: 1px;  left: 100%;  top: 30px;  border-bottom:1px solid #BFBFBF;  -webkit-transition: all .3s;  transition: all .3s;  }
.ModuleNewsListGiant.layout-107 .news-item .news-icon { position: relative;  width: 35px;  height: 35px;  border: 1px solid transparent;  background-color: transparent;  -webkit-transition: all .3s;  transition: all .3s;  top: -10px;  }
.ModuleNewsListGiant.layout-107 .news-item .news-icon span {  position: absolute;  top: 9px;  left: 9px;  width: 14px;  height: 15px;  background: url("../images/icon.png") no-repeat center;  }
.ModuleNewsListGiant.layout-107 .news-item .news-con .news-title{ padding-bottom: 14px; -webkit-transition: all .3s;  transition: all .3s; color: #666;}
.ModuleNewsListGiant.layout-107 .news-con { display: inline-block; width: 83%;padding-left:10px; margin-top: 19px; -webkit-transition: all .3s;  transition: all .3s;}
.ModuleNewsListGiant.layout-107 .news-img {position: relative;width: 20%; overflow: hidden;list-style-type: none;display: block;max-width: 100%;margin: auto;}
.ModuleNewsListGiant.layout-107 .news-img .dummy {padding-top: 77%;}
.ModuleNewsListGiant.layout-107 .news-img img{display: block;position: absolute;transform: translate(-50%, -50%);max-width: 100%;max-height: 100%;top: 50%;left: 50%;margin:auto;padding: auto;}
.ModuleNewsListGiant.layout-107 .news-con .news-desc {  width: 90%; line-height: 24px;display: block;  font-size: 13px;  color: #7D7D7D; -webkit-transition: all .3s;  transition: all .3s;  }
.ModuleNewsListGiant.layout-107 .news-item{ padding: 14px 10px;clear: both;}
.ModuleNewsListGiant.layout-107 .news-item:nth-last-child{ border-bottom:none!important;}
.ModuleNewsListGiant.layout-107 .news-item:hover .news-icon{background: #014352;}
.ModuleNewsListGiant.layout-107 .news-item:hover .news-icon span { background: url("../images/icon_hover.png") no-repeat center; }

@media (max-width: 767px){
  .ModuleNewsListGiant.layout-107 .news-container{ width: 96%; margin: 0 auto; }
  .ModuleNewsListGiant.layout-107 .news-item { padding: 14px 0; }
  .ModuleNewsListGiant.layout-107 .news-time{ width: 100% }
  .ModuleNewsListGiant.layout-107 .news-time time {  position: relative; padding-top: 0;  margin-bottom: 4px;}
  .ModuleNewsListGiant.layout-107 .news-time time:before{opacity: 0;}
  .ModuleNewsListGiant.layout-107 .news-item .news-icon{display:none}
  .ModuleNewsListGiant.layout-107 .news-con{ width: 100%;margin-top: 0;padding-left:0;}
  .ModuleNewsListGiant.layout-107 .news-desc{ overflow: hidden;  display: -webkit-box;  -webkit-line-clamp: 2;  -webkit-box-orient: vertical;  word-break: break-all;}
  .ModuleNewsListGiant.layout-107 .news-item .news-con .news-title{  padding-bottom: 5px;overflow: hidden;text-overflow:ellipsis;  white-space:nowrap;  overflow:hidden;}
  .ModuleNewsListGiant.layout-107 .news-item .news-con .news-desc{ width: 100%;overflow: hidden;text-overflow:ellipsis;  white-space:nowrap;  overflow:hidden; font-size: 12px;}
}

/*置顶推荐*/
.ModuleNewsListGiant.layout-107 .staFun{
    border: 1px solid #e50b1c;
    font-size: 12px;
    padding: 0px 2px;
    color: #e50b1c;
    font-weight: bold;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    vertical-align: text-top;
}.module_8143271 .ModuleHead .HeadCenter{float:none;}
#module_8143271 {
padding:0px;
}
#module_8143271 {
position:static;
z-index:0;
width:100%;
height: auto;
}
#module_8143271 .ModuleHead8143271 {
display:none;
}
#module_8143271 .ModuleHead .HeadText.HeadText8143271 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8143271 .ModuleHead .HeadCenter.HeadCenter8143271{text-align:left;}
#module_8143271 .ModuleHead .HeadCenter.HeadCenter8143271 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8143271 .BodyCenter.BodyCenter8143271 {
background:none;background-color:rgb(255, 255, 255);
}
#module_8143271 >.module_8143271 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8143271 >.module_8143271{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8143271 .BodyCenter.BodyCenter8143271 {
padding-top:0px;
padding-left:20px;
padding-right:20px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8143271 .BodyCenter.BodyCenter8143271 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8143271 >.module_8143271 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8143271 >.module_8143271 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8143271 .news-item{background-color:#ffffff;}
#module_8143271 .news-item{background-image:none;}
#module_8143271 .news-item{background-repeat:no-repeat;}
#module_8143271 .news-item{}
#module_8143271 .news-item{}
#module_8143271 .news-item{border-top-color:#dddddd;}
#module_8143271 .news-item{border-top-style:;}
#module_8143271 .news-item{border-top-width:px;}
#module_8143271 .news-item{border-right-color:#dddddd;}
#module_8143271 .news-item{border-right-style:;}
#module_8143271 .news-item{border-right-width:px;}
#module_8143271 .news-item{border-bottom-color:#dddddd;}
#module_8143271 .news-item{border-bottom-style:solid;}
#module_8143271 .news-item{border-bottom-width:1px;}
#module_8143271 .news-item{border-left-color:#dddddd;}
#module_8143271 .news-item{border-left-style:;}
#module_8143271 .news-item{border-left-width:px;}
#module_8143271 .news-img{background-color:transparent;}
#module_8143271 .news-img{}
#module_8143271 .news-img{background-repeat:no-repeat;}
#module_8143271 .news-img{}
#module_8143271 .news-img{}
#module_8143271 .news-img{border-top-left-radius:0px;}
#module_8143271 .news-img{border-top-right-radius:0px;}
#module_8143271 .news-img{border-bottom-left-radius:0px;}
#module_8143271 .news-img{border-bottom-right-radius:0px;}
#module_8143271 .news-img{border-top-color:transparent;}
#module_8143271 .news-img{border-top-style:none;}
#module_8143271 .news-img{border-top-width:0px;}
#module_8143271 .news-img{border-right-color:transparent;}
#module_8143271 .news-img{border-right-style:none;}
#module_8143271 .news-img{border-right-width:0px;}
#module_8143271 .news-img{border-bottom-color:transparent;}
#module_8143271 .news-img{border-bottom-style:none;}
#module_8143271 .news-img{border-bottom-width:0px;}
#module_8143271 .news-img{border-left-color:transparent;}
#module_8143271 .news-img{border-left-style:none;}
#module_8143271 .news-img{border-left-width:0px;}
#module_8143271 .news-title{font-size:16px;}
#module_8143271 .news-title{font-family:微软雅黑,Microsoft YaHei;}
#module_8143271 .news-title{color:#333;}
#module_8143271 .news-title{font-weight:normal;}
#module_8143271 .news-title{text-decoration:none;}
#module_8143271 .news-title{font-style:normal;}
#module_8143271 .news-desc{font-size:14px;}
#module_8143271 .news-desc{font-family:微软雅黑,Microsoft YaHei;}
#module_8143271 .news-desc{color:#999;}
#module_8143271 .news-desc{font-weight:normal;}
#module_8143271 .news-desc{text-decoration:none;}
#module_8143271 .news-desc{font-style:normal;}
#module_8143271 time{font-size:24px;}
#module_8143271 time{font-family:微软雅黑,Microsoft YaHei;}
#module_8143271 time{color:#999;}
#module_8143271 time{font-weight:normal;}
#module_8143271 time{text-decoration:none;}
#module_8143271 time{font-style:normal;}
#module_8143271 time:before{border-bottom-color:#ddd;}
#module_8143271 time:before{border-bottom-style:solid;}
#module_8143271 time:before{border-bottom-width:1px;}
#module_8143271 .news-icon{background-color:transparent;}
#module_8143271 .news-icon{background-image:none;}
#module_8143271 .news-icon{background-repeat:no-repeat;}
#module_8143271 .news-icon{}
#module_8143271 .news-icon{}
#module_8143271 .news-icon{font-size:12px;}
#module_8143271 .news-icon{font-family:Microsoft YaHei;}
#module_8143271 .news-icon{color:#666;}
#module_8143271 .news-icon{font-weight:normal;}
#module_8143271 .news-icon{text-decoration:none;}
#module_8143271 .news-icon{font-style:normal;}
#module_8143271 .news-item:hover{background-color:#ffffff;}
#module_8143271 .news-item:hover{background-image:none;}
#module_8143271 .news-item:hover{background-repeat:no-repeat;}
#module_8143271 .news-item:hover{}
#module_8143271 .news-item:hover{}
#module_8143271 .news-item:hover{border-top-color:#dddddd;}
#module_8143271 .news-item:hover{border-top-style:;}
#module_8143271 .news-item:hover{border-top-width:px;}
#module_8143271 .news-item:hover{border-right-color:#dddddd;}
#module_8143271 .news-item:hover{border-right-style:;}
#module_8143271 .news-item:hover{border-right-width:px;}
#module_8143271 .news-item:hover{border-bottom-color:#dddddd;}
#module_8143271 .news-item:hover{border-bottom-style:solid;}
#module_8143271 .news-item:hover{border-bottom-width:1px;}
#module_8143271 .news-item:hover{border-left-color:#dddddd;}
#module_8143271 .news-item:hover{border-left-style:;}
#module_8143271 .news-item:hover{border-left-width:px;}
#module_8143271 .news-item:hover .news-img{background-color:transparent;}
#module_8143271 .news-item:hover .news-img{}
#module_8143271 .news-item:hover .news-img{background-repeat:no-repeat;}
#module_8143271 .news-item:hover .news-img{}
#module_8143271 .news-item:hover .news-img{}
#module_8143271 .news-item:hover .news-img{border-top-left-radius:0px;}
#module_8143271 .news-item:hover .news-img{border-top-right-radius:0px;}
#module_8143271 .news-item:hover .news-img{border-bottom-left-radius:0px;}
#module_8143271 .news-item:hover .news-img{border-bottom-right-radius:0px;}
#module_8143271 .news-item:hover .news-img{border-top-color:transparent;}
#module_8143271 .news-item:hover .news-img{border-top-style:none;}
#module_8143271 .news-item:hover .news-img{border-top-width:0px;}
#module_8143271 .news-item:hover .news-img{border-right-color:transparent;}
#module_8143271 .news-item:hover .news-img{border-right-style:none;}
#module_8143271 .news-item:hover .news-img{border-right-width:0px;}
#module_8143271 .news-item:hover .news-img{border-bottom-color:transparent;}
#module_8143271 .news-item:hover .news-img{border-bottom-style:none;}
#module_8143271 .news-item:hover .news-img{border-bottom-width:0px;}
#module_8143271 .news-item:hover .news-img{border-left-color:transparent;}
#module_8143271 .news-item:hover .news-img{border-left-style:none;}
#module_8143271 .news-item:hover .news-img{border-left-width:0px;}
#module_8143271 .news-item:hover .news-title{font-size:16px;}
#module_8143271 .news-item:hover .news-title{font-family:微软雅黑,Microsoft YaHei;}
#module_8143271 .news-item:hover .news-title{color:#139d8f;}
#module_8143271 .news-item:hover .news-title{font-weight:normal;}
#module_8143271 .news-item:hover .news-title{text-decoration:none;}
#module_8143271 .news-item:hover .news-title{font-style:normal;}
#module_8143271 .news-item:hover time{font-size:24px;}
#module_8143271 .news-item:hover time{font-family:微软雅黑,Microsoft YaHei;}
#module_8143271 .news-item:hover time{color:#999;}
#module_8143271 .news-item:hover time{font-weight:normal;}
#module_8143271 .news-item:hover time{text-decoration:none;}
#module_8143271 .news-item:hover time{font-style:normal;}
#module_8143271 .news-item:hover time:before{border-bottom-color:#828281;}
#module_8143271 .news-item:hover time:before{border-bottom-style:solid;}
#module_8143271 .news-item:hover time:before{border-bottom-width:1px;}
#module_8143271 .news-item:hover .news-icon{background-color:#139d8f;}
#module_8143271 .news-item:hover .news-icon{background-image:none;}
#module_8143271 .news-item:hover .news-icon{background-repeat:no-repeat;}
#module_8143271 .news-item:hover .news-icon{}
#module_8143271 .news-item:hover .news-icon{}
#module_8143271 .news-item:hover .news-icon{font-size:12px;}
#module_8143271 .news-item:hover .news-icon{font-family:Microsoft YaHei;}
#module_8143271 .news-item:hover .news-icon{color:#fff;}
#module_8143271 .news-item:hover .news-icon{font-weight:normal;}
#module_8143271 .news-item:hover .news-icon{text-decoration:none;}
#module_8143271 .news-item:hover .news-icon{font-style:normal;}

.module_8143236 .ModuleHead .HeadCenter{float:none;}
#module_8143236 {
padding:0px;
}
#module_8143236 {
position:static;
z-index:0;
width:100%;
height: auto;
}
#module_8143236 .ModuleHead8143236 {
display:none;
}
#module_8143236 .ModuleHead .HeadText.HeadText8143236 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8143236 .ModuleHead .HeadCenter.HeadCenter8143236{text-align:left;}
#module_8143236 .ModuleHead .HeadCenter.HeadCenter8143236 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8143236 .BodyCenter.BodyCenter8143236 {
background:none;background-color:rgb(38, 38, 38);
}
#module_8143236 >.module_8143236 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8143236 >.module_8143236{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8143236 .BodyCenter.BodyCenter8143236 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8143236 .BodyCenter.BodyCenter8143236 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8143236 >.module_8143236 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8143236 >.module_8143236 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8143236 .ModuleSubContainer{background-color:transparent;}
#module_8143236 .ModuleSubContainer{background-image:none;}
#module_8143236 .ModuleSubContainer{background-repeat:no-repeat;}
#module_8143236 .ModuleSubContainer{background-position:0% 0%;}
#module_8143236 .ModuleSubContainer{background-attachment:scroll;}
#module_8143236 {!bgVideo!}{bgVideoUrl:}
#module_8143236 .gridBgVideo .bgVideoMask{opacity:1}
.ModuleGridContainer.ModuleGridContainer8143236 {}
.module_8143237 .ModuleHead .HeadCenter{float:none;}
#module_8143237 {
padding:0px;
}
#module_8143237 {
position:static;
z-index:0;
width:100%;
height: auto;
}
#module_8143237 .ModuleHead8143237 {
display:none;
}
#module_8143237 .ModuleHead .HeadText.HeadText8143237 {
font-family:微软雅黑,Microsoft YaHei;
font-size:12px;
color:#000;
font-weight:normal;
text-decoration:initial;
font-style:normal;
text-align:left;
}
#module_8143237 .ModuleHead .HeadCenter.HeadCenter8143237{text-align:left;}
#module_8143237 .ModuleHead .HeadCenter.HeadCenter8143237 {
margin:0;
background:none;background-color:rgba(0,0,0,0);
}
#module_8143237 .BodyCenter.BodyCenter8143237 {
background:none;background-color:rgba(0,0,0,0);
}
#module_8143237 >.module_8143237 {
border-top-style:solid;
border-top-color:#000;
border-top-width:0px;
border-left-style:solid;
border-left-color:#000;
border-left-width:0px;
border-right-style:solid;
border-right-color:#000;
border-right-width:0px;
border-bottom-style:solid;
border-bottom-color:#000;
border-bottom-width:0px;
}
#module_8143237 >.module_8143237{
overflow: hidden;
border-top-left-radius:0px;
border-top-right-radius:0px;
border-bottom-left-radius:0px;
border-bottom-right-radius:0px;
}
@media screen and (min-width: 768px){
#module_8143237 .BodyCenter.BodyCenter8143237 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8143237 .BodyCenter.BodyCenter8143237 {
padding-top:0px;
padding-left:0px;
padding-right:0px;
padding-bottom:0px;
}
}
@media screen and (min-width: 768px){
#module_8143237 >.module_8143237 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}
@media screen and (max-width: 767px){
#module_8143237 >.module_8143237 {
margin-top:0px;
margin-left:0px;
margin-right:0px;
margin-bottom:0px;
}
}

#module_8143237 .ModuleImageTextGiantContent{margin-top:0px;}
#module_8143237 .ModuleImageTextGiantContent{margin-bottom:0px;}
#module_8143237 .ModuleImageTextGiantContent{margin-left:0px;}
#module_8143237 .ModuleImageTextGiantContent{margin-right:0px;}
#module_8143237 .imageTextGiant-Container{padding-top:px;}
#module_8143237 .imageTextGiant-Container{padding-bottom:px;}
#module_8143237 .imageTextGiant-Container{padding-left:px;}
#module_8143237 .imageTextGiant-Container{padding-right:px;}

.module_8143181 .ModuleHead .HeadCenter{float:none;}
#module_8143181 {
padding:0px;
}
#module_8143181 {
}
#module_8143181 .ModuleHead0 {
display:none;
}
#module_8143181 .ModuleHead .HeadText.HeadText0 {
}
#module_8143181 .ModuleHead .HeadTextMore.HeadTextMore0 {
}
#module_8143181 >.module_0 {
border:none;
}
@media screen and (min-width: 768px){
#module_8143181 .BodyCenter.BodyCenter0 {
}
}
@media screen and (max-width: 767px){
#module_8143181 .BodyCenter.BodyCenter0 {
}
}
#module_8143181 .BodyCenter.BodyCenter0 {
}
#module_8143181 .BodyCenter a {
}

